@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');
body{
    margin: 0;
}
a{
    font-family: 'Merriweather Sans', sans-serif;
}
h3{

}
p{
    font-family: 'Merriweather Sans', sans-serif; 
    
}

nav{
    display: block;
    background: lavenderblush;
    padding: 30px;
}
/*new nav*/
.nav-col{
    
    background-color: lavenderblush;
}

.menu{
    text-align: right;
    margin-right: 50px;
    margin-top: 15px;
}
.menu a{
    text-decoration: none;
    margin: 15px;
    

}
.logo{
    float: left;
    margin: 0;
    text-align: center;
    
}
/*then nav*/


/*new  section*/
section{
    margin-top: 100px;
    display: flex;
}
.tabla{
    display: inline-block;
    width: 50%;/*responsive - width=100% */
}
.tabla p{
    padding: 45px;
}
.tabla img{
margin-left: 40%;    
    width: 100px;
}

/*then section*/

aside{
     background-color: rgb(184, 240, 240);
    margin-top: 100px;
    padding: 30px;
    display: flex;/*flex para poder hacer las funciones de cajas*/
}
.conten{
    background: rgb(231, 179, 182);
    text-align: right;
    border-radius: 10px;
    
   
}
.asideh{
    padding:40px;
    margin: 20px;
    text-align: center;
    background: rgb(135, 147, 214);
    border-radius: 15px;
}

.asidek{
    margin: 0px 20px 20px;
    padding: 100px;
    text-align: left;
    
    
}
.img2{
    text-align: center;
    margin-top: 30px;
}
.img2 img{
    background-repeat: no-repeat;
    background-size: 50% 50%;
    width: 400px;
    height: 400px; 
    border-radius: 10px;
}

/*display*/
@media (max-width: 600px){

/*section*/
section{
    display: block;
}
.tabla{
    width: 100%;
}

/*then section*/


aside{
    display:block;
}
.asidek{
   
    width: 100%;
    margin: 0px ;
    padding: 0%;
    text-align: center;
    margin-bottom: 50px;
}
.img2{
    
    text-align: center;}

    .img2 img{
    width: 80%;
    height: 400%;

}
.conten{
    display: block;
    width: 100%;
    text-align: center;
    
    padding: 5px 0px;
}

}